{% extends "base.html" %}
{% block content %}

<div class="text-center">
    <h2><b>Prequisites</b></h2>
</div>
<div class="container">
<table class="table table-hover">
    <tr>
        <th>Category</th>
        <th>Name</th>
        <th>Explanation</th>
        <th>Source</th>
    </tr>
    <tr>
        <td>Prequisites</td>
        <td>Compliance requirements defined</td>
        <td>TBA</td>
        <td>TBA</td>
    </tr>
    <tr>
        <td>Usability</td>
        <td>Simple</td>
        <td>TBA</td>
        <td>TBA</td>
    </tr>
    <tr>
        <td>Variability</td>
        <td>Able to handle variability</td>
        <td>(Changes over times)</td>
        <td>TBA</td>
    </tr>
    <tr>
        <td>Variability</td>
        <td>Handle ambiguities within regulations</td>
        <td>Vagueness</td>
        <td>TBA</td>
    </tr>
    <tr>
        <td>Variability</td>
        <td>Variability resistant</td>
        <td>TBA</td>
        <td>TBA</td>
    </tr>
    <tr>
        <td>Performance</td>
        <td>Scalable</td>
        <td>(To real-world databases)</td>
        <td>TBA</td>
    </tr>
    <tr>
        <td>Performance</td>
        <td>Scalable</td>
        <td>(To real-world usage)</td>
        <td>TBA</td>
    </tr>
    <tr>
        <td>Performance</td>
        <td>Fast</td>
        <td>(no negative impact on development velocity)</td>
        <td>TBA</td>
    </tr>
    <tr>
        <td>Performance</td>
        <td>Fast</td>
        <td>(no negative impact on lead time)</td>
        <td>TBA</td>
    </tr>
    <tr>
        <td>Performance</td>
        <td>Non-blocking</td>
        <td>(no negative impact on lead time)</td>
        <td>TBA</td>
    </tr>
    <tr>
        <td>Process</td>
        <td>Compliance testing and verification</td>
        <td>(Needs to be part of the process)</td>
        <td>TBA</td>
    </tr>
    <tr>
        <td>Process</td>
        <td>Continuous compliance monitoring</td>
        <td>(Needs to be part of the process)</td>
        <td>TBA</td>
    </tr>
    <tr>
        <td>Process</td>
        <td>Compliance assessment</td>
        <td>(Needs to be part of the process)</td>
        <td>TBA</td>
    </tr>

</table>
</div>

<div class="container">
<table class="table table-hover">
    <tr>
        <th>Category</th>
        <th>Name</th>
        <th>Explanation</th>
        <th>Source</th>
    </tr>
    <tr>
        <td>Not assigned yet</td>
        <td>Traceability</td>
        <td>TBA</td>
        <td>TBA</td>
    </tr>
    <tr>
        <td>Not assigned yet</td>
        <td>Automatable</td>
        <td>(activities should be automatable if possible)</td>
        <td>TBA</td>
    </tr>
    <tr>
        <td>Not assigned yet</td>
        <td>Extensive documentation</td>
        <td>For those parts that can be automatically checked for compliance</td>
        <td>TBA</td>
    </tr>
    <tr>
        <td>Not assigned yet</td>
        <td>Handle non-automatable activities</td>
        <td>TBA</td>
        <td>TBA</td>
    </tr>
    <tr>
        <td>Not assigned yet</td>
        <td>Able to work with natural language requirements</td>
        <td>TBA</td>
        <td>TBA</td>
    </tr>


</table>
</div>
 
{% endblock %}
