{% extends "base.html" %}
{% block content %}
<div class="container">
<h1>{{ activities[0]['Paper Title'] }}</h1>
<div class="text-center">
{{ svg | safe }}
</div>
</div>

<div class="container">
<br>
<hr>
<hr>
<br>
</div>

<div class="container">
<div class="text-center">
    <h2><b>Summary</b></h2>
</div>
{{ approach['Automation approach'] }}
</div>

<div class="container">
<br>
<hr>
<hr>
<br>
</div>
<div class="container">
<div class="text-center">
    <h2><b>Activities</b></h2>
</div>
{% for activity in activities %}
<h3 id="{{ activity['Name'].lower().replace(' ', '_').replace('-', '_').replace('.', '_').replace(':', '_').replace('?', '_') }}">
    {{ activity['Name'] }}
</h3>
<table class="table table-hover">
    <tr>
        <th>Details</th>
        <td> {{ activity['Detail'] }} </td>
    </tr>
    <tr>
        <th>Automation level</th>
        <td> {{ activity['Automation level (if activity)'] }} </td>
    </tr>
    <tr>
        <th>Inputs</th>
        <td> {{ activity['Input (if activity)'] }} </td>
    </tr>
    <tr>
        <th>Output</th>
        <td> {{ activity['Output (if activity)'] }} </td>
    </tr>
    <tr>
        <th>Domain specific</th>
        <td> {{ activities['Domain specific'] }} </td>
    </tr>
</table>
{% endfor %}
</div>

<div class="container">
<br>
<hr>
<hr>
<br>
</div>

<div class="container">
<div class="text-center">
    <h2><b>Artifacts</b></h2>
</div>
{% for artifact in artifacts %}
<h3 id="{{ artifact['Name'].lower().replace(' ', '_').replace('-', '_').replace('.', '_').replace(':', '_').replace('?', '_') }}">
    {{ artifact['Name'] }}
</h3>
<table class="table table-hover">
    <tr>
        <th>Details</th>
        <td> {{ artifact['Detail'] }} </td>
    </tr>
    <tr>
        <th>Context</th>
        <td> {{ artifact['Context'] }} </td>
    </tr>
    <tr>
        <th>Content</th>
        <td> {{ artifact['Content (if artifact)'] }} </td>
    </tr>
    <tr>
        <th>Domain specific</th>
        <td> {{ artifact['Domain specific'] }} </td>
    </tr>
</table>
{% endfor %}
</div>
{% endblock %}
